:root {
    --style: Tahoma, Verdana, Segoe, sans-serif;
    --highlight: rgb(227, 246, 245);
    --standard: rgb(39, 35, 67);
    --primary: rgb(186, 232, 232);
}

body {
    background-color: var(--standard);
    text-align: center;
    margin: 0;
}

.first {
    margin-top: 30px;
}

.second {
    align-items: center;
    display: inline-flex;
}

.third {
    margin-right: 5px;
    margin-left: 5px;
}

canvas {
    height: 400px;
    width: 100%;
}

label {
    font-size: 30px;
    font-weight: 50;
    font-family: var(--style);
    color: var(--highlight);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--highlight);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--standard);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

button {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    box-shadow: rgba(227, 246, 245, .05) 0 2px 4px 0;
    box-sizing: border-box;
    color: var(--standard);
    cursor: pointer;
    font-family: var(--style);
    font-size: 35px;
    font-weight: 545;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(227, 246, 245, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    button {
        padding: 10px 30px;
    }
}